<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond $1 !^(index\.php|.well-known|responsive|demo|videos|video|assets|js|medios|scripts|css|pdf|images|revistas|emailing|mantencion|uploads|sitemap\.xml|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L] 
</IfModule>
